@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-accent-50: oklch(0.97 0.02 262.62);
  --color-accent-100: oklch(0.93 0.04 262.62);
  --color-accent-200: oklch(0.86 0.08 262.62);
  --color-accent-300: oklch(0.77 0.12 262.62);
  --color-accent-400: oklch(0.68 0.16 262.62);
  --color-accent-500: oklch(0.62 0.18 262.62);
  --color-accent-600: oklch(0.563 0.194 262.62);
  --color-accent-700: oklch(0.49 0.17 262.62);
  --color-accent-800: oklch(0.42 0.14 262.62);
  --color-accent-900: oklch(0.35 0.11 262.62);
  --color-accent-950: oklch(0.27 0.07 262.62);
}

/* Prevent code elements in table cells from wrapping */
.sl-markdown-content td code {
  @apply whitespace-nowrap;
}

.tab {
  @apply whitespace-nowrap;
}

