@import 'nextra-theme-docs/style.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-chrome-50: var(--color-gray-50);
  --color-chrome-100: var(--color-gray-100);
  --color-chrome-200: var(--color-gray-200);
  --color-chrome-300: var(--color-gray-300);
  --color-chrome-400: var(--color-gray-400);
  --color-chrome-500: var(--color-gray-500);
  --color-chrome-600: var(--color-gray-600);
  --color-chrome-700: var(--color-gray-700);
  --color-chrome-800: var(--color-gray-800);
  --color-chrome-900: var(--color-gray-900);
  --color-chrome-950: var(--color-gray-950);
}

@layer base {
  :root[class~="dark"] {
    --color-chrome-50:  var(--color-gray-950);
    --color-chrome-100: var(--color-gray-900);
    --color-chrome-200: var(--color-gray-800);
    --color-chrome-300: var(--color-gray-700);
    --color-chrome-400: var(--color-gray-600);
    --color-chrome-500: var(--color-gray-500);
    --color-chrome-600: var(--color-gray-400);
    --color-chrome-700: var(--color-gray-300);
    --color-chrome-800: var(--color-gray-200);
    --color-chrome-900: var(--color-gray-100);
    --color-chrome-950: var(--color-gray-50);
  }
}
