---

---

<div class="w-full py-16">
  <div class="px-6 space-y-6 text-center">
    <h1 class="text-4xl font-bold">User-friendly Kubernetes logging</h1>
    <p class="text-xl">
      Kubetail is a real-time logging dashboard for Kubernetes
    </p>
  </div>
</div>

<div class="container max-w-screen-md mx-auto px-6 mb-16">
  <div class="flex flex-col items-center">
    <video
      class="w-full max-w-screen-sm rounded-md dark:hidden"
      poster="https://assets.kubetail.com/demo-light-poster.bb7f6d4a.webp"
      controls
    >
      <source
        src="https://assets.kubetail.com/demo-light.48aba4ab.mp4"
        type="video/mp4"
      />
    </video>
    <video
      class="w-full max-w-screen-sm rounded-md hidden dark:block"
      poster="https://assets.kubetail.com/demo-dark-poster.6070fba2.webp"
      controls
    >
      <source
        src="https://assets.kubetail.com/demo-dark.251c0575.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="text-center my-2">
    <a
      class="underline hover:no-underline text-[var(--sl-color-accent)]"
      href="https://www.kubetail.com/demo"
    >
      Live Demo
      <svg
        class="inline align-baseline"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.7"
        viewBox="0 0 24 24"
        height="16"
      >
        <path d="M7 17L17 7"></path>
        <path d="M7 7h10v10"></path>
      </svg>
    </a>
  </div>
</div>
