---
import { logos } from 'virtual:starlight/user-images';
import config from 'virtual:starlight/user-config';
---

<div class="site-title sl-flex">
	<a href="https://www.kubetail.com" class="logo-link">
		{
			config.logo && logos.dark && (
				<img
					alt={config.logo.alt}
					src={logos.dark.src}
					width={logos.dark.width}
					height={logos.dark.height}
				/>
			)
		}
	</a>
	<a href="/concepts/introduction" class="docs-link" translate="no">DOCS</a>
</div>

<style>
	@layer starlight.core {
		.site-title {
			align-items: center;
			gap: var(--sl-nav-gap);
			font-size: var(--sl-text-h4);
			font-weight: 600;
			color: var(--sl-color-text-accent);
			text-decoration: none;
			white-space: nowrap;
			min-width: 0;
		}
		.logo-link {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
		img {
			height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
			width: auto;
			max-width: 100%;
			object-fit: contain;
			object-position: 0 50%;
		}
		.docs-link {
			font-size: .8em;
			font-weight: 800;
			letter-spacing: 0.05em;
			opacity: .45;
			text-decoration: none;
			color: inherit;
			margin-left: -.7rem;
			margin-bottom: -0.3rem;
		}
		@media (max-width: 49.99em) {
			.docs-link {
				margin-bottom: calc(-0.3rem + 1px);
			}
		}
	}
</style>
